/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}

/*背景色*/
body {
  background: -webkit-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -o-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -ms-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
}

/*社交icon颜色*/
.fa-envelope {
  color: rgb(246, 178, 105);
}
.fa-qq {
  color: #49b1f5;
}
.fa-record-vinyl {
  color: #ff0000;
}

/*隐藏驱动和主题*/
.framework-info {display: none;}

/*鼠标样式*/
body,
.highlight-tools .code-lang {
  cursor: url('https://cdn.jsdelivr.net/gh/uncle-he/blog-resource/img/default.cur'), default!important;
}
a, a:hover, 
#recent-posts > .recent-post-item > .recent-post-info > .article-meta-wrap > time, 
#pagination .page-number.current,
#pagination .page-number, 
#rightside > div > i, 
#rightside > div > a, 
#rightside > div > div, 
#article-container h1, 
#article-container h2, 
#article-container h3, 
#article-container h4, 
#article-container h5, 
#article-container h6,
.highlight-tools .code-expand,
.highlight-tools .fa-clipboard,
#toggle-sidebar,
.v[data-class=v] .vicon,
.v[data-class=v] .vcards .vcard .vhead .vnick,
.v[data-class=v] .vcards .vcard .vh .vmeta .vat,
.v[data-class=v] .vbtn {
  cursor: url('https://cdn.jsdelivr.net/gh/uncle-he/blog-resource/img/pointer.cur'), pointer!important;
}

/*首页分类*/
/*
#aside_content
.card-archives
ul.card-archive-list
> .card-archive-list-item
a
span:first-child,
#aside_content
.card-categories
ul.card-category-list
> .card-category-list-item
a
span:first-child {
    width: auto;
    min-width: 50%;
}
*/